In [2]:
#Create
mycolors = ["Blue", "Red", "yellow", "Brown"]

#display
mycolors

['Blue', 'Red', 'yellow', 'Brown']

# Indexing

Accessing values in a list positionally

In [4]:
#retrieve the first item in the list mycolors
mycolors[0]

'Blue'

In [5]:
mycolors[3]

'Brown'

In [6]:
#create list of five random numbers
mynum = [50, 40, 30, 20, 10]
#display
mynum

[50, 40, 30, 20, 10]

In [7]:
#create list of 10 random numbers
mynum = [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
#display
mynum

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [8]:
#retrieve the first to the fifth item in the list
mynum[0:4]

[100, 90, 80, 70]

In [17]:
#create a list of 7 random names and extract the last 4items in the list
myname = ["don", "dave", "sid", "ben", "george", "john", "david"]
myname[3:7]

['ben', 'george', 'john', 'david']

In [18]:
#len: retrieves the number of items in a list
len(myname)

7

In [19]:
#max: retrieves the largest value in a list
max(mynum)

100

In [20]:
#min: retrieves the smallest value in a list
min(mynum)

10

In [21]:
#append : Add new item to an already existing list
mynum.append(1)

#display
mynum

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 1]

In [22]:
#min: retrieves the smallest value in a list, check min value aftr appending the list
min(mynum)

1

In [23]:
#remove: deletes item from an already existing list
mynum.remove(1)
#display
mynum

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [24]:
#sort a list
mynum.sort(reverse = False) #true=descending, false=ascending

mynum

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [25]:
### create  a list of 5 random numbers, using functions: get the difference between the largest and smallest value divided by the the lenght of the list
mynumbr = [10,20,30,40,50]
mynumbr

[10, 20, 30, 40, 50]

In [26]:
(max(mynumbr)-min(mynumbr))/len(mynumbr)

8.0

In [27]:
num=[10,20,30,40,50]
a = max(num)
b = min(num)
c = len(num)
(a-b)/c

8.0

#### Tuples
they are similar to lists but with 2 differences
1. they are created with round brackets
2. they are immutable/unchangeable

In [29]:
#create a tuple of colors
mytuple = ("Blue", "Red", "Yellow", "Brown")
mytuple

('Blue', 'Red', 'Yellow', 'Brown')

In [31]:
mytuple[0]

'Blue'

### Dictionaries
They store Data in key value pairs

Dictionaries are created using the curly- braces{}

In [32]:
#Create a dictionary
mydict = {"Firstname" : "Jobson", "Lastname" : "George", "Location" : "United Kingdom", "Zipcode" : "PE30 4UX"}
#display
mydict

{'Firstname': 'Jobson',
 'Lastname': 'George',
 'Location': 'United Kingdom',
 'Zipcode': 'PE30 4UX'}

In [33]:
#Accessing values to a dictionary
mydict["Zipcode"]

'PE30 4UX'

In [35]:
mydict["Location"] = "China"
mydict

{'Firstname': 'Jobson',
 'Lastname': 'George',
 'Location': 'China',
 'Zipcode': 'PE30 4UX'}

In [36]:
#length
len(mydict)

4

In [37]:
#display all the values only
mydict.values()

dict_values(['Jobson', 'George', 'China', 'PE30 4UX'])

In [38]:
#display all the keys only
mydict.keys()

dict_keys(['Firstname', 'Lastname', 'Location', 'Zipcode'])

In [39]:
#retrieve the key value pairs
mydict.items()

dict_items([('Firstname', 'Jobson'), ('Lastname', 'George'), ('Location', 'China'), ('Zipcode', 'PE30 4UX')])

In [40]:
#get the corresponding value to the key
mydict.get("Zipcode")

'PE30 4UX'

In [41]:
# Create a python function that prompts users for a month input and then your program returns the number of days in that month
# Step1 : Create a dictionary of month and their corresponding days
# Step2 : get the user input
# Step3 : return the no of days

In [52]:
#1
mymonth = {"January": 31,
          "February": "28 or 29 in leap years",
          "March": 31,
          "April": 30,
          "May": 31,
          "June": 30,
          "July": 31,
          "August": 31,
          "September": 30,
          "october": 31,
          "November": 30,
          "December": 31}
#2
userinput = input("Enter a month: ")
#3
print(userinput, "has", mymonth[userinput], "days")

Enter a month: February
February has 28 or 29 in leap years days

In [46]:
userinput

'may'

In [50]:
mymonth["May"]

31